@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Poppins:wght@400;700&family=Yatra+One&display=swap');
*
{padding:0;
    font-family: 'Poppins';
}
html{
    background-image:url(desert.jpg);
    background-repeat: no-repeat;
    background-size:cover;
  background-position: center; 
  background-attachment: fixed; 
    height: ;
}

form{
    background: rgba(255,255,255,0.75);
    border-radius: 10px;
    padding: 100px 100px;
    position: absolute;
    top:50px;
    left: 150px;
    
}
form label{
    font-family: 'Poppins';
    font-size: 15px;
    color: rgb(13, 10, 25);
    padding: 10px;
}
h2{
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 0;
}
#dsgn{
    position: absolute;
    top: 113px;
    height: 60px;
    right: 141px;
    
}
#service,#choose-date,#time,#Destinationcountry,#Departurecountry{
    
    border: none;
    border-radius: 10px;
    background: rgba(143, 112, 197, 0.75);
    padding: 6px 15px;
    
} 
#submit{
    border: none;
    background: black;
    font-size:15px;
    position: absolute;
    bottom:35px;
    height: 45px;
    right:150px;
    color: rgba(242, 245, 239, 0.975);
    padding: 5px 22px;
    border-radius: 25px;
    cursor: pointer;
        
}
#toggleDialog{
    border: none;
    background: black;
    
    position: absolute;
    bottom:50px;
    height: 45px;
    right:340px;
    
    padding: 5px 22px;
    
        
}
#reset{
    border: none;
    background: black;
    font-size:15px;
    position: absolute;
    bottom:35px;
    height: 45px;
    left:150px;
    color: white;
    padding: 5px 22px;
    border-radius: 25px;
    cursor: pointer;
        
}
.dialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 50px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .dialog-content {
    text-align: center;
  }
  
  input[type="checkbox"] {

    z-index: 5;
  }
  
  
  input[type="checkbox"]:checked ~ .dialog {
    display: block;
  }
  
  #cnfrm {
    position: absolute;
    cursor: pointer;
    display: block;
    margin-top: 10px;
    color: rgb(255, 255, 255);
    background: rgb(152, 229, 37);
    border-radius: 25px;
    padding: 6px 15px;
    text-decoration: none;
    font-size: 15px;
    justify-content: right;
    right: 150px;
    bottom: 20px;
  }
    
  #cancel {
    position: absolute;
    cursor: pointer;
    display: block;
    margin-top: 10px;
    color: rgb(255, 255, 255);
    background: rgb(226, 61, 61);
    border-radius: 25px;
    padding: 6px 15px;
    text-decoration: none;
    font-size: 15px;
    justify-content: right;
    left: 150px;
    bottom: 20px;
  }
